In [0]:
# #unzip data
!unzip test.zip
!unzip train.zip

unzip:  cannot find or open test.zip, test.zip.zip or test.zip.ZIP.
unzip:  cannot find or open train.zip, train.zip.zip or train.zip.ZIP.

In [0]:
#import libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
from scipy import stats
from sklearn.linear_model import LinearRegression

In [0]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

FileNotFoundError: ignored

In [0]:
df_train.head()

In [0]:
# for i in df_train[]:
#   print("unique values in: ",df_train['i'],":",df_train[i].unique())
cols=list(df_train)
cols

In [0]:
#Unique entries in every coloumns
for i in cols:
  print(i,df_train[i].unique())

In [0]:
#Number of Unique entries
for i in cols:
  print(i,":",df_train[i].nunique())

In [0]:
# 1. Which product category and store had the highest sales?
#sort data acc to cities
citya=df_train[df_train['City_Category']=='A']
cityb=df_train[df_train['City_Category']=='B']
cityc=df_train[df_train['City_Category']=='C']

In [0]:
cityc.head(2)

In [0]:
pura=citya['Purchase'].sum()
purb=cityb['Purchase'].sum()
purc=cityc['Purchase'].sum()
print("Purchase in City A Stores:",pura)
print("Purchase in City B Stores:",purb)
print("Purchase in City C Stores:",purc)

In [0]:
#CITY A ANALYSIS
prod1=citya.filter(['Product_Category_1'],axis=1)
prod2=citya.filter(['Product_Category_2'],axis=1)
prod3=citya.filter(['Product_Category_3'],axis=1)
# new = old.filter(['A','B','D'], axis=1)
prod2.dropna(inplace=True)
prod3.dropna(inplace=True)

In [0]:
#Clean Data
df_train['Product_Category_2'].fillna(-1,inplace=True)
df_train['Product_Category_3'].fillna(-1,inplace=True)
df_train['Product_Category_2']=df_train['Product_Category_2'].astype('int64')
df_train['Product_Category_1']=df_train['Product_Category_1'].astype('int64')
df_train['Product_Category_3']=df_train['Product_Category_3'].astype('int64')
# df_train.head()
df_train['Product_Category_2'].dtype

In [0]:
prod2['Product_Category_2']=prod2['Product_Category_2'].astype('int64')
prod3['Product_Category_3']=prod3['Product_Category_3'].astype('int64')
# df_train['Product_Category_3']=df_train['Product_Category_3'].astype('int64')

In [0]:
# Number of Products bought according to the data
nprod1=len(prod1.index)
nprod2=len(prod2.index)
nprod3=len(prod3.index)
total=nprod1+nprod2+nprod3

In [0]:
# Data for Visualization
plotdata=[nprod1,nprod2,nprod3]
# plotdata=pd.DataFrame(plotdata)
# plotdata=plotdata.transpose()
# plotdata.set_index(1)

In [0]:
#Pie Chart
plt.pie(plotdata,labels=['Product 1','Product 2','Product 3'],explode = (0, 0.1, 0.2,),autopct='%1.1f%%')
plt.legend(bbox_to_anchor=(1,1))

In [0]:
#CITY B ANALYSIS
produ1=cityb.filter(['Product_Category_1'],axis=1)
produ2=cityb.filter(['Product_Category_2'],axis=1)
produ3=cityb.filter(['Product_Category_3'],axis=1)
# new = old.filter(['A','B','D'], axis=1)
produ2.dropna(inplace=True)
produ3.dropna(inplace=True)

In [0]:
produ2['Product_Category_2']=produ2['Product_Category_2'].astype('int64')
produ3['Product_Category_3']=produ3['Product_Category_3'].astype('int64')
# df_train['Product_Category_3']=df_train['Product_Category_3'].astype('int64')

In [0]:
# Number of Products bought according to the data
nprodu1=len(produ1.index)
nprodu2=len(produ2.index)
nprodu3=len(produ3.index)
total=nprodu1+nprodu2+nprodu3

In [0]:
# Data for Visualization
plotdatau=[nprodu1,nprodu2,nprodu3]
# plotdata=pd.DataFrame(plotdata)
# plotdata=plotdata.transpose()
# plotdata.set_index(1)

In [0]:
#Pie Chart
plt.pie(plotdatau,labels=['Product 1','Product 2','Product 3'],explode = (0, 0.1, 0.2,),autopct='%1.1f%%')
plt.legend(bbox_to_anchor=(1,1))

In [0]:
#CITY C ANALYSIS
produc1=cityc.filter(['Product_Category_1'],axis=1)
produc2=cityc.filter(['Product_Category_2'],axis=1)
produc3=cityc.filter(['Product_Category_3'],axis=1)
# new = old.filter(['A','B','D'], axis=1)
produc2.dropna(inplace=True)
produc3.dropna(inplace=True)

In [0]:
produc2['Product_Category_2']=produc2['Product_Category_2'].astype('int64')
produc3['Product_Category_3']=produc3['Product_Category_3'].astype('int64')
# df_train['Product_Category_3']=df_train['Product_Category_3'].astype('int64')

In [0]:
# Number of Products bought according to the data
nproduc1=len(produc1.index)
nproduc2=len(produc2.index)
nproduc3=len(produc3.index)
total=nproduc1+nproduc2+nproduc3

In [0]:
# Data for Visualization
plotdatauc=[nproduc1,nproduc2,nproduc3]
# plotdata=pd.DataFrame(plotdata)
# plotdata=plotdata.transpose()
# plotdata.set_index(1)

In [0]:
#Pie Chart
plt.pie(plotdatauc,labels=['Product 1','Product 2','Product 3'],explode = (0, 0.1, 0.2,),autopct='%1.1f%%')
plt.legend(bbox_to_anchor=(1,1))

In [0]:
print("--------------------------------------------------------------------------------------------------------------------")

In [0]:
print("Number of unique customers in city A:")
print(citya[['User_ID']].nunique())
print("Number of unique customers in city B:")
print(cityb[['User_ID']].nunique())
print("Number of unique customers in city C:")
print(cityc[['User_ID']].nunique())

In [0]:
# 2. What products usually buy families and single people?

In [0]:
mar_count=df_train[df_train['Marital_Status']==1].count()[0]         #Marriedcount
unmar_count=df_train[df_train['Marital_Status']==0].count()[0]       #UnmarriedCount
male=df_train[df_train['Gender']=='M'].count()[0]                    #MaleCount
female=df_train[df_train['Gender']=='F'].count()[0]                  #FemaleCount

In [0]:
prod1=df_train['Product_Category_1'].unique()
prod1.sort()
prod1

In [0]:
prod2=df_train['Product_Category_2'].unique()
prod2.sort()
prod2=np.delete(prod2,0)

In [0]:
prod2

In [0]:
prod3=df_train['Product_Category_3'].unique()
prod3.sort()
prod3=np.delete(prod3,0)

In [0]:
prod3

In [0]:
marrprod=df_train[df_train['Marital_Status']==1]
notmarrprod=df_train[df_train['Marital_Status']==0]

In [0]:
####################PRODUCT 1 FOR MARRIED COUPLES ########################################
prod=0
max_c=0
for i in prod1:
  b=marrprod[marrprod['Product_Category_1']==i]
  count=len(b.index)
  print(i," has been brought ",count," times")
  if(max_c<count):
    max_c=count
    prod=i
    
  
print("___________________________________________________________________________________")
print("Married couples bought product",prod,"maximum times")
print("___________________________________________________________________________________")

In [0]:
####################PRODUCT 1 FOR UNMARRIED COUPLES ########################################
prod=0
max_c=0
for i in prod1:
  b=notmarrprod[notmarrprod['Product_Category_1']==i]
  count=len(b.index)
  print(i," has been brought ",count," times")
  if(max_c<count):
    max_c=count
    prod=i
    
  
print("___________________________________________________________________________________")
print("Not Married couples bought product",prod,"maximum times")
print("___________________________________________________________________________________")

In [0]:
####################PRODUCT 2 FOR MARRIED COUPLES ########################################
prod=0
max_c=0
for i in prod2:
  b=marrprod[marrprod['Product_Category_2']==i]
  count=len(b.index)
  print(i," has been brought ",count," times")
  if(max_c<count):
    max_c=count
    prod=i
    
  
print("___________________________________________________________________________________")
print("Married couples bought product",prod,"maximum times")
print("___________________________________________________________________________________")

In [0]:
####################PRODUCT 2 FOR UNMARRIED COUPLES ########################################
prod=0
max_c=0
for i in prod2:
  b=notmarrprod[notmarrprod['Product_Category_2']==i]
  count=len(b.index)
  print(i," has been brought ",count," times")
  if(max_c<count):
    max_c=count
    prod=i
    
  
print("___________________________________________________________________________________")
print("Not Married couples bought product",prod,"maximum times")
print("___________________________________________________________________________________")

In [0]:
####################PRODUCT 3 FOR MARRIED COUPLES ########################################
prod=0
max_c=0
for i in prod3:
  b=marrprod[marrprod['Product_Category_3']==i]
  count=len(b.index)
  print(i," has been brought ",count," times")
  if(max_c<count):
    max_c=count
    prod=i
    
  
print("___________________________________________________________________________________")
print("Married couples bought product",prod,"maximum times")
print("___________________________________________________________________________________")

In [0]:
####################PRODUCT 3 FOR UNMARRIED COUPLES ########################################
prod=0
max_c=0
for i in prod3:
  b=notmarrprod[notmarrprod['Product_Category_3']==i]
  count=len(b.index)
  print(i," has been brought ",count," times")
  if(max_c<count):
    max_c=count
    prod=i
    
  
print("___________________________________________________________________________________")
print("Not Married couples bought product",prod,"maximum times")
print("___________________________________________________________________________________")

In [0]:
# 3. According to age and sex what are the most bought products?

In [0]:
sns.countplot(df_train['Age'])

In [0]:
sns.countplot(df_train['Age'],hue=df_train['Gender'])

In [0]:
dfage=df_train['Age'].unique()
dfage

In [0]:
df_train["Product_Category_2"] = df_train["Product_Category_2"].astype(int)
df_train["Product_Category_3"] = df_train["Product_Category_3"].astype(int)

In [0]:
df_train["Product_Category_2"].replace(-1,float('nan'),inplace=True)
df_train["Product_Category_3"].replace(-1,float('nan'),inplace=True)

In [0]:
df_train['Age_Encoded'] = df_train['Age'].map({'0-17':0,'18-25':1,
                          '26-35':2,'36-45':3,
                          '46-50':4,'51-55':5,
                          '55+':6})

In [0]:
age=df_train['Age_Encoded'].unique()

In [0]:
df_train.head(3)

In [0]:
################################## FEMALE & AGE PRODUCT SOLD #######################################
for i in age:
  newdf=df_train[(df_train['Age_Encoded']==i)&(df_train['Gender']=='F')]
  pd1=newdf['Product_Category_1'].mode()
  pd1=np.array(pd1)
  count1=newdf['Product_Category_1'].value_counts()
  count1=pd.DataFrame(count1)
  count1.reset_index()
  x=count1['Product_Category_1'].max()
  l1='Product Category 1 number:',pd1[0]

  newdr2=newdf
  newdr2['Product_Category_2'].dropna(inplace=True)
  pd2=newdr2['Product_Category_2'].mode()
  pd2=np.array(pd2)
  count2=newdf['Product_Category_2'].value_counts()
  count2=pd.DataFrame(count2)
  count2.reset_index()
  y=count2['Product_Category_2'].max()
  l2='Product Category 2 number:',pd2[0]
  l2

  newdr3=newdf
  newdr3['Product_Category_3'].dropna(inplace=True)
  pd3=newdr3['Product_Category_3'].mode()
  pd3=np.array(pd3)
  count3=newdf['Product_Category_3'].value_counts()
  count3=pd.DataFrame(count3)
  count3.reset_index()
  z=count3['Product_Category_3'].max()
  l3='Product Category 3 number:',pd3[0]
  l3
  pltdata=[x,y,z]

  label=[l1,l2,l3]
  plt.figure()
  plt.title('product demand for age bin %i'%i)
  plt.pie(pltdata,labels=label)
  print('________________________________________________________________________________________')

In [0]:
################################# MALE & AGE PRODUCT SOLD #######################################
for i in age:
  newdf=df_train[(df_train['Age_Encoded']==i)&(df_train['Gender']=='M')]
  pd1=newdf['Product_Category_1'].mode()
  pd1=np.array(pd1)
  count1=newdf['Product_Category_1'].value_counts()
  count1=pd.DataFrame(count1)
  count1.reset_index()
  x=count1['Product_Category_1'].max()
  l1='Product Category 1 number:',pd1[0]

  newdr2=newdf
  newdr2['Product_Category_2'].dropna(inplace=True)
  pd2=newdr2['Product_Category_2'].mode()
  pd2=np.array(pd2)
  count2=newdf['Product_Category_2'].value_counts()
  count2=pd.DataFrame(count2)
  count2.reset_index()
  y=count2['Product_Category_2'].max()
  l2='Product Category 2 number:',pd2[0]
  l2

  newdr3=newdf
  newdr3['Product_Category_3'].dropna(inplace=True)
  pd3=newdr3['Product_Category_3'].mode()
  pd3=np.array(pd3)
  count3=newdf['Product_Category_3'].value_counts()
  count3=pd.DataFrame(count3)
  count3.reset_index()
  z=count3['Product_Category_3'].max()
  l3='Product Category 3 number:',pd3[0]
  l3
  pltdata=[x,y,z]

  label=[l1,l2,l3]
  plt.figure()
  plt.title('product demand for age bin %i'%i)
  plt.pie(pltdata,labels=label)
  print('________________________________________________________________________________________')

In [0]:
#########################################################################################################################
#########################################################################################################################
#########################################################################################################################

In [0]:
df_train.head(4)

In [0]:
###################################### OCCUPATION REDUCTION AND EXPLORATION ######################################

In [0]:
occc=df_train['Occupation'].unique()
occc.sort()
occc

In [0]:
count=df_train['Occupation'].value_counts()
count=pd.DataFrame(count)
count.reset_index(inplace=True)
count

In [0]:
count.rename(columns={'index':'Occ','Occupation':'Count'},inplace=True)
count.sort_values(by='Occ',inplace=True)

In [0]:
plt.figure()
plt.bar(count['Occ'],count['Count'],)

In [0]:
#As Occ number 8 9 18 13 19 Are Considerably less so they can be created into new data entry as others number=100
df_train['Occupation'].replace(8,100,inplace=True)
df_train['Occupation'].replace(9,100,inplace=True)
df_train['Occupation'].replace(18,100,inplace=True)
df_train['Occupation'].replace(13,100,inplace=True)
df_train['Occupation'].replace(19,100,inplace=True)
df_train['Occupation'].value_counts()

In [0]:
sns.heatmap(df_train.corr())

In [0]:
occ=df_train['Occupation'].unique()
occ

In [0]:
ult=0
cat=0
catz=0
mx=100000000
for i in occ:
  df_occ=df_train[df_train['Occupation']==i]
  maxpur=df_occ['Purchase'].max()
  minpur=df_occ['Purchase'].min()
  ranges=maxpur-minpur
  if (ult<=maxpur) :
    ult=maxpur
    cat=i
  if (mx>=minpur) :
    mx=maxpur
    catz=i
  print("Occupation Number:",i)
  print("Maximum Purchase:",maxpur)
  print("Minimum Purchase:",minpur)
  print("Range:",ranges)
  print("________________________________________________________________________________")
  
  
  
  
print("MAXIMUM AMONG ALL OCCUPATIONS:",cat,"Value:",ult)
print("MINIMUM AMONG ALL OCCUPATIONS:",catz,"Value:",mx)

In [0]:
############################Dummy Variable Creation one hot encoding for Gender#########################################
df_trainj=pd.get_dummies(df_train['Gender'])
df_trainj

In [0]:
df_train['F']=df_trainj['F']
df_train['M']=df_trainj['M']

In [0]:
df_train.head()

In [0]:
df_train

In [0]:
######################################Change Age bins to numerical values#############################################
def map_age(age):
    if age == '0-17':
        return 0
    elif age == '18-25':
        return 1
    elif age == '26-35':
        return 2
    elif age == '36-45':
        return 3
    elif age == '46-50':
        return 4
    elif age == '55+':
        return 5
    else:
        return 6

      
df_train['Age']=df_train['Age'].apply(map_age)
df_train.head(30)

In [0]:
def map_city(city_category):
    if city_category == 'A':
        return 2
    elif city_category == 'B':
        return 1
    else:
        return 0
df_train['City_Category'] = df_train['City_Category'].apply(map_city)

df_train.head()

In [0]:
df_train['Product_Category_2'].fillna(0,inplace=True)
df_train['Product_Category_2']=df_train['Product_Category_2'].astype('int64')
df_train.dtypes

In [0]:
df_train['Product_Category_3'].fillna(0,inplace=True)
df_train['Product_Category_3']=df_train['Product_Category_3'].astype('int64')
df_train.head()

In [0]:
df_train['Stay_In_Current_City_Years'].unique()

In [0]:
def stay_map(x):
  if(x=='0'):
    return 0
  if(x=='1'):
    return 1
  if(x=='2'):
    return 2
  if(x=='3'):
    return 3
  else:
    return 4
  
df_train['Stay_In_Current_City_Years']=df_train['Stay_In_Current_City_Years'].apply(stay_map)
df_train.head()

In [0]:
df_train.dtypes

In [0]:
fig,ax = plt.subplots(figsize = (12,9))
sns.heatmap(df_train.corr(),vmax=.8, square=True)

In [0]:
# data=df_train
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()

# data['Gender'] = le.fit_transform(data['Gender'])
# data['City_Category'] = le.fit_transform(data['City_Category'])
# data['Age'] = le.fit_transform(data['Age'])

# data.head()

In [0]:
##################SPLITTING DATA TO DEPENDENT AND INDEPENDENT SETS##########################################################
y_train=df_train['Purchase']
y_train
x_train=df_train
x_train.drop(['User_ID'],axis=1,inplace=True)
x_train.drop(['Purchase'],axis=1,inplace=True)

x_train.head()

In [0]:
x_train.drop(['Product_ID'],axis=1,inplace=True)
x_train.head()

In [0]:
x_test=df_test
x_test.drop(['User_ID'],axis=1,inplace=True)
x_test.drop(['Product_ID'],axis=1,inplace=True)
x_test['Product_Category_2'].fillna(0,inplace=True)
x_test['Product_Category_3'].fillna(0,inplace=True)
x_test['Product_Category_2']=x_test['Product_Category_2'].astype('int64')
x_test['Product_Category_3']=x_test['Product_Category_3'].astype('int64')
x_test['City_Category'] = x_test['City_Category'].apply(map_city)
x_test['Stay_In_Current_City_Years']=x_test['Stay_In_Current_City_Years'].apply(stay_map)
x_test['Age']=x_test['Age'].apply(map_age)
def gne(x):
  if(x=='M'):
    return 0
  else:
    return 1
x_test['Gender']=x_test['Gender'].apply(gne)
x_train['Gender']=x_train['Gender'].apply(gne)
x_test.dtypes

In [0]:
x_train.drop(['Age_Encoded'],axis=1,inplace=True)
x_train.drop(['F'],axis=1,inplace=True)
x_train.drop(['M'],axis=1,inplace=True)
x_train.head()

In [0]:
x_train.shape

In [0]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [0]:
linreg=LinearRegression()

In [0]:
linreg.fit(x_train,y_train)

In [0]:
y_pred=linreg.predict(x_test)

In [0]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
mse = mean_squared_error(y_test, y_pred)
print("RMSE Error:", np.sqrt(mse))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)

NameError: ignored